<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Formulário Cadastro de Eventos</title>


<link rel="stylesheet" href="../Css/listaAdminEstilo.css">
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	
</head>
<body>

	<nav th:replace="fragments/PadraoPagina :: cabecalho"></nav>
	
	<div class="container teste">
	
	<form action="saveEvento" method="post" class="formulario" enctype="multipart/form-data"> <!-- ectype SÓ FUNCIONA SE TIVER O METODO 'POST' -->
	
	<h1 class="titulo">Cadastro de Eventos</h1>
	
	<input type="hidden" name="id" th:value="${eventos?.id}" /><!-- Aqui eu apliquei o nome da "Class" Principal -->
	
	<div class="form-floating mb-3">
  	<input type="text" class="form-control" name="nome" th:value=${eventos?.nome}>
  	<label for="floatingInput">Nome do Evento</label>
	</div>
	
	<!-- MEXENDO NO SELECT E TRAZENDO VALORES DA CLASS 'Categoria' -->
	<div class="form-floating">
	<select class="selectEvento" aria-label="Default select example" name="categoria.idCategoria">
  		<option th:each="c : ${categoria}" th:text="${c.nomeCategoria}" th:value="${c.idCategoria}" class="selectEventos" th:selected="${c.nomeCategoria == eventos?.categoria?.nomeCategoria}"></option>
	</select>
	</div> <br>
	
	<div class="form-floating">
  	<input type="text" class="form-control" name="descricao" th:value=${eventos?.descricao}>
  	<label for="floatingPassword">Descrição</label>
	</div> <br>
	
	<div class="form-floating">
  	<input type="text" class="form-control" name="cep" id="cep" th:value=${eventos?.cep}>
  	<label for="floatingPassword">CEP</label>
	</div> <br>
	
	<div class="form-floating">
  	<input type="text" class="form-control" name="endereco" id="logradouro" readonly="readonly" th:value=${eventos?.endereco}>
  	<label for="floatingPassword" id="endereco">Endereço</label>
	</div> <br>
	
	<div class="form-floating">
  	<input type="number" class="form-control" name="numero" th:value=${eventos?.numero}>
  	<label for="floatingPassword">Número</label>
	</div> <br>
	
	<div class="form-floating">
  	<input type="text" class="form-control" name="complemento" th:value=${eventos?.complemento}>
  	<label for="floatingPassword">Complemento</label>
	</div> <br>
	
	<div class="form-floating">
  	<input type="text" class="form-control" name="bairro" id="bairro" readonly="readonly" th:value=${eventos?.bairro}>
  	<label for="floatingPassword" id="bairro">Bairro</label>
	</div> <br>
	
	<div class="form-floating">
  	<input type="text" class="form-control" name="estado" id="uf" readonly="readonly" th:value=${eventos?.estado}>
  	<label for="floatingPassword" id="estado">Estado</label>
	</div> <br>
	
	<div class="form-floating">
  	<input type="text" class="form-control" name="telefone" th:value=${eventos?.telefone}>
  	<label for="floatingPassword">Telefone</label>
	</div> <br>
	
	<div class="form-floating">
  	<input type="text" class="form-control" name="horario" th:value=${eventos?.horario}>
  	<label for="floatingPassword">Horário</label>
	</div> <br>
	
	<div class="form-floating">
  	<input type="text" class="form-control" name="posicao" th:value=${eventos?.posicao}>
  	<label for="floatingPassword">Locais</label>
	</div> <br>
	
	<div class="form-floating">
  	<input type="text" class="form-control" name="preco" th:value=${eventos?.preco}>
  	<label for="floatingPassword">Valor do Ingresso</label>
	</div> <br>
	
	<div class="form-floating">
  	<input type="text" class="form-control" name="formaPagamento" th:value=${eventos?.formaPagamento}>
  	<label for="floatingPassword">Forma de Pagamentos</label>
	</div> <br>
	
	<div class="form-floating">
  	<input type="text" class="form-control" name="idade" th:value=${eventos?.idade}>
  	<label for="floatingPassword">Idade Permitida</label>
	</div>
	
	<div class="mb-3">
  		<label for="formFileMultiple" class="form-label"></label>
  		<input class="form-control" type="file" id="formFileMultiple" name="fileFotos" multiple>
	</div> <br>
	
	<!-- ESSA DIV SÓ IRA EXISTIR SE TIVER ALGUMA FOTO -->
	<div th:if="${eventos?.fotos?.length > 0}" class="eventoImg">
	<input type="hidden" th:value="${eventos?.fotos}" name="fotos"/>
		<h6>Fotos Cadastradas</h6>
		<div>
			<ul>
				<li th:each="fotos, f : ${eventos?.verFotos()}"><!-- o 'f' é um contador para em que posição eu estou -->
					<a alt="fotoEvento" th:href="${fotos}" target="_blank"><img th:src="${fotos}" class="imgEvento"></a>
					<a th:href="@{/excluirFoto(idEventos=${eventos?.id},numFoto =${f.index})}"><i class="fa fa-trash" aria-hidden="true"></i></a><!-- PARA CADA FOTO EU VOU TER UM INDEX -->
				</li>
			</ul>
		</div>
	</div>
	
	
	<div class="d-grid gap-2 col-6 mx-auto">
  	<button class="btn btn-primary" type="submit">Salvar</button>
	</div>
	
	</form><!-- fechando o form -->
	
	</div>
	
	<footer th:replace="fragments/PadraoPagina :: rodape"></footer>
	
	<script src="Js/busca.js"></script>
	
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>

</body>
</html>